body {
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 20px;


}

.container {
  background-color: transparent;
  height: 90%;
  width: 90%;
  border-radius: 20px;

 
}

.searchBox {
  /* overflow: hidden; */

  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding-top: 2px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
z-index:10;

}

.search {
  visibility: visible;

  background-color: white;
  height: 30px;
  width: 200px;
  padding: 17px 10px;
  box-sizing: border-box;
  border: 0.5px solid  white;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: 500ms;
  

  
 
}

.search:focus{
    outline: none;
    border-color:rgba(255, 0, 251, 0.416);

}






.image {
  height: 225px;
  width: 400px;
  border-radius: 30px;
  margin-top: 20px;
 
  box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgba(147, 149, 151, 0.671);
  position: absolute;

}



.game_name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  /* padding-left: 10px; */
  padding-bottom: 10px;
  
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid rgba(255, 0, 251, 0.671);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 500ms linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
