.temp_body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.loading {
  width: 15vh;
  border-radius: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.search_box {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.search {
  visibility: hidden;
  background-color: white;
  height: 30px;
  width: 300px;
  padding: 17px 10px;
  box-sizing: border-box;
  border: 1.5px solid white;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: 500ms;
}

.search:focus {
  outline: none;
  border-color: rgba(255, 0, 251, 0.416);
}

.gallery_style {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.card_container {
  margin-bottom: 30px;
}

.image {
  width: 95%;
  max-width: 500px;
  min-width: 200px;
  border-radius: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.skeleton_form {
  width: 95%;
  max-width: 480px;
  height: 245px;
  background-color: grey;

  min-width: 200px;
  border-radius: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.rank_div {
  width: 95%;
  height: 50px;
  max-width: 500px;
  min-width: 200px;
  border-radius: 40px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.medal {
  width: 100%;
  max-width: 80px;
  min-width: 50px;
  margin-top: -50px;
}

.number {
  background-color: transparent;
  margin-top: -102px;
  text-align: center;
}
.game_name {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
}
