body {
  overflow-x: hidden;

}

.loading {
  animation: blink 0.5s;
  animation-iteration-count: infinite;
  width: 100px;
  height: 100px;
  
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.tempCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background-color: transparent;
  padding-top: 40px;
}

.container {
  width: 400px;
  height: 300px;
  background-color: transparent;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0;
  transition: opacity 1s ease;
  transition-property: transform;
  transform: rotate(5deg);
  
}

.showContainer {
  opacity: 1;
  transform: rotate(0deg);
}

.gameimg {
  border-radius: 30px;
  position: relative;
  width: 100%;
  box-shadow: -3px -3px 9px #aaa9a9a2, 3px 3px 7px rgba(147, 149, 151, 0.671);

}

.container_rank_name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 100px;
  width: 100%;
  position: relative;
  top: -30px;
}

.medal {
  left: 0px;
  position: absolute;
  width: 60px;
  transform: rotate(5deg);
  
}

.gamename {
  top: 0px;
  font-size: 17px;
  position: relative;
  user-select: none;
  text-align: center;
}

.gamerank {
  top: 4px;
  left: -6px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 75px;
  background-color: transparent;
  font-size: 17px;
  position: absolute;
  z-index: 3;
  transform: rotate(5deg);
}

.searchBox {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.search {
  visibility: visible;
  background-color: white;
  height: 30px;
  width: 300px;
  padding: 17px 10px;
  box-sizing: border-box;
  border: 1.5px solid white;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: 500ms;
}

.search:focus {
  outline: none;
  border-color: rgba(255, 0, 251, 0.416);
}

@media screen and (max-width: 300px) {
  .container {
    flex: 60%;
    width: 50%;
  }
}

@media screen and (min-width: 640px) {
  .container {
    flex: 30%;
    width: 50%;
    margin-top: 0px;
  }

  body {
    padding-top: 100px;
  }
}

@media screen and (min-width: 770px) {
  .container {
    flex: 25%;
    width: 50%;
    margin-top: 0px;
  }
  body {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    flex: 20%;
    width: 50%;
    margin-top: 0px;
  }
  body {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1570px) {
  .container {
    flex: 20%;
    width: 50%;
    margin-top: 60px;
  }

  body {
    padding-top: 50px;
  }
}


